<li class="row">
  <a href="" class="">
    <img class="profile-section__img"
      src="{{data.url}}" alt="user photo" />
  </a>
  <h2 class="discussion__info">
    <span class="discussion__heading">{{data.disHeading}}</span>
    <span class="discussion__subject"><a href="">{{data.disSubject}}</a></span>
    <span class="discussion__description">{{data.disDescription}}
    </span>
  </h2>
  <p class="discussion__date">{{data.disDate}}</p>
  <p class="discussion__replies replies--link" onclick="toggleReplies()">{{data.disReplies}}
  </p>
</li>
{{> _replies }}
{{> _replies }}
{{> _add_reply }}
