<div class="welcome-container home">
    {{> _navbar_main}}
</div>
<li class="row">
  <a href="" class="">
    <img class="profile-section__img"
      src="{{data.picture}}" alt="user photo" />
  </a>
  <h2 class="discussion__info">
    <span class="discussion__heading">{{discussion.topicid}}</span>
    <span class="discussion__subject"><a href="">{{discussion.subject}}</a></span>
    <span class="discussion__description">{{discussion.content}}
    </span>
  </h2>
  <p class="discussion__date">{{discussion.date}}</p>
  <p class="discussion__replies replies--link" onclick="toggleReplies()">(2) Replies
  </p>
</li>
{{> _replies }}
{{> _add_reply }}
